<%= simple_form_for [@message, @message.comments.build], remote: true do |f| %>
  <%= f.input :content, label: "Comment" %>
  <p class="" align="center">
  <%= f.button :submit, :class => "btn-custom" %>

  </p>
  <% end %>
